-import de.fuberlin.wiwiss.silk.entity.Entity

-@ val measures: List[String]
-@ val source: List[Entity]
-@ val target: List[Entity]
-@ val exact: List[Edge]
-@ val approx: List[Edge]
-@ val threshold: Double

h1 Overview

h2 Used distance measures

ul
  -for (m <- measures)
    li= m

h2 Stats

ul
  li exact matches: #{exact.size}
  li approx matches (t = #{threshold}): #{approx.size}



