-import de.fuberlin.wiwiss.silk.entity.Entity

-@ val measures: List[String]
-@ val source: List[Entity]
-@ val target: List[Entity]
-@ val exact: Map[Int, List[Edge]]
-@ val approx: Map[Int, List[Edge]]
-@ val threshold: Double

a(href="/match/0") Start matching!

h1 Overview

h2 Used distance measures

ul
  -for (m <- measures)
    li= m

h2 Stats

ul
  li exact matches: #{exact.size}
  li approx matches (t = #{threshold}): #{approx.size}



